/* reset */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-family: 'Roboto', sans-serif;
}
.clearfix::after{
  content: '';
  display: block;
  clear: both;
}
/* intestazione */
header{
  background-color: #0C325A;
}
nav{
  padding: 15px 0;
  width: 80%;
  margin: auto;
  line-height: 70px;
}
.logo, .main-nav, .access-point{
  float: left;
}
/* logo */
.logo{
  width: 10%;
}
.logo img{
  width: 100%;
}
/* /logo */
/* nav */
.main-nav{
  width: 45%;
  text-align: center;
}
 .main-nav li, .access-point li{
  display: inline-block;
  line-height: 15px;
}
.main-nav li a, .access-point li a, .box-title a{
  margin-right: 25px;
  color: white;
  text-decoration: none;
  font-weight: 500;
  font-size: 15px;
  text-transform: uppercase;
  display: inline-block;
}
.access-point{
  width: 35%;
  text-align: right;
}
/* button */
.button{
  padding: 8px;
  border: 1px solid #fff;
  border-radius: 10px;
  color: #fff;
}
#login{
  padding: 8px 40px;
}
.button-green{
  background-color: #7CBB02;
  border: 1px solid rgba(0, 0, 0, 0.0);
}
/* /button */
/* /nav */
.jumbotron{
  height: 500px;
  background-image: url('../img/background-header.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: right;
}
.box-jumbotron{
  position: relative;
  width: 80%;
  height: 100%;
  margin: auto;
}
/* title */
.box-title{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 40%;
}
.box-title h1{
  font-size: 40px;
  color: #fff;
  margin-bottom: 10px;
  font-weight: 500;
}
.button-title{
  padding: 15px 10px;
  font-size: 13px;
}
/* /title */




/* /intestazione */
